* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
    cursor: text;
}

*::selection {
    background-color: var(--nord2);
    color: var(--nord5);
}

:root {
    /*
  Condensed version of https://www.nordtheme.com/docs/colors-and-palettes
  */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

html,
body {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}

body {
    background-color: var(--nord0);
    color: var(--nord4);
    font-size: 15px;
    font-weight: 300;
}

.main-container {
    height: fit-content;
    padding: 20px;
}

.ascii-name {
    color: #fbcb0a;
    font-size: 0.7vw;
    margin-top: 15px;
}

.message-text {
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0;
}

.help-text {
    font-size: 17px;
    font-weight: 400;
    color: var(--nord7);
}

.command-output {
    margin: 15px 0;
    padding-left: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-label {
    color: var(--nord8);
}

.input-command {
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--nord9);
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
}

.input-text {
    color: var(--nord8);
}

.command-not-found {
    font-size: 17px;
    color: var(--nord11);
}

.data-dt {
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: lowercase;
    color: var(--nord8);
}
.data-dd {
    margin-top: 5px;
    margin-left: 20px;
}

.data-li {
    text-transform: capitalize;
    list-style-type: square;
    font-weight: 400;
}

.about-text {
    font-weight: 400;
}

.data-table {
    border-collapse: collapse;
    color: var(--nord6);
}

.data-name-th {
    text-align: left;
    padding-bottom: 20px;
}

.data-description-td {
    padding-bottom: 20px;
    vertical-align: top;
    padding-left: 20px;
}

.data-link {
    text-decoration-style: solid;
    color: var(--nord7);
    cursor: pointer;
}
