body {background: #ffffff; color: #ffffff; margin: 0; padding: 0;} 
a {color: #dbdbff; font-family: Helvetica; font-style: bold;}
@font-face {font-family: Lexend; src: url(lexend\lexendexa-regular.ttf); } 

#container {width: 100%; margin: 0; padding: 0; background: #003399;}

#header {width: 100%; height: 15%; margin: auto; padding: 0; border: 0; background: #ffe066;} 
#header h1 {font-family: Helvetica; font-size: 40px; color: #000000; margin: 0; padding: 2.5%;}    

#sidebar {width: 18%; height: 72%; margin: 0; padding: 1%; border: 0; float: left; background: #003399;}           

#content {width: 80%; height: 75%; margin: 0; padding: 0; border: 0; float: right; background: #003399;}
#content p {font-family: Helvetica; font-size: 16px; color: #ffffff}           

#footer {width: 100%; height: 10%; margin: auto; padding: 0; border: 0; float: center; background: #003399; clear:both;}