/* GENERAL LINKS */
.nav-link{
  color: lightgray;
}

html {
  scroll-behavior: smooth;
}

/* BODY AND FONT */
@font-face {
  font-family: lexendDeca;
  src: url(../Fonts/LexendDeca-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: lexendDeca;
  src: url(/Resources/Fonts/LexendDeca-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: lexendExa;
  src: url(../Fonts/LexendExa-Regular.ttf);
  font-style: normal;
}

body {
  background: #1b1b1b;
  color: #ffffff;
  font-family: lexendDeca, Helvetica;
}
