/* GENERAL LINKS */
a {color: lightgray;}

/* BODY AND FONT */
@font-face {
  font-family: lexendDeca;
  src: url(../Fonts/LexendDeca-Regular.ttf) ;
  font-style: normal;
}

@font-face {
  font-family: lexendDeca;
  src: url(/Resources/Fonts/LexendDeca-Regular.ttf) ;
  font-style: normal;
}

@font-face {
  font-family: lexendExa;
  src: url(../Fonts/LexendExa-Regular.ttf) ;
  font-style: normal;
}

body {
  background: #1b1b1b;
  color: #ffffff;
  font-family: lexendDeca, Helvetica;
  font-size: medium;
  margin: 0;
  padding: 0;
}

/* CONTAINER FORMATTING */
#container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #1b1b1b;
}

/* HEADER FORMATTING */
#header {
  width: 100%;
  height: 100px;
  margin: auto;
  padding: 0;
  border: 0;
  background: rgb(0, 0, 75);
}
#header h1 {
  font-family: lexendDeca, Helvetica;
  font-size: 48px;
  color: #000000;
  margin: 0;
  padding: 20px;
}    

/* NAV FORMATTING */
#nav {
  width: 18%;
  height: 75%;
  margin: 0;
  padding: 1%;
  border: 0;
  float: left;
  background: #1b1b1b;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  list-style-type: none;
}

#nav li a {
  margin: 5px;
  padding: 10px 15px;
  font-family: lexendDeca, Helvetica;
  text-decoration: none;
  display: block;
  background-color: rgb(0, 0, 75);
  color: lightsteelblue;
}

#nav li a:hover, .active{
  background-color: lightslategrey;
  color: rgb(0, 0, 75);
}

/* CONTENT FORMATTING */
#content {
  width: 75%;
  height: 80%;
  overflow: auto;
  margin: 0;
  padding: 1%;
  border: 0; 
  float:right;
  background: #1b1b1b;
}

#content p {
  font-family: lexendDeca, Helvetica;
  font-size: medium;
  color: gainsboro}  

#content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: auto;
  list-style-type: none;
}

#content li a {
  margin: 0;
  padding: 10px;
  font-family: lexendDeca;
  text-decoration: none;
  display: block;
  background-color: rgb(0, 0, 75);
  color: lightslategrey;
}

#content li a:hover{
  background-color: lightslategrey;
  color: rgb(0, 0, 75);
}

/* ARTICLE FORMATTING*/
#article {
  width: 75%;
  height: 70%;
  overflow: auto;
  margin: 0;
  padding: 10px;
  border: 0; 
  float:right;
  background: rgb(0, 0, 75);
}

/* BLOG NAV FORMATTING */
#blogNav {
  width: 78%;
  padding: 1%;
  margin: 0;
  border: 0;
  background: rgb(0, 0, 75);
  float: right;
}

#blogPrev {
  width: 25%;
  height: auto;
  margin-left: 10%;
  padding: 0;
  float: left;
}

#blogNext {
  width: 25%;
  height: auto;
  margin-right: 10%;
  padding: 0;
  float: right;
}

#blogPrev a {
  font-family: lexendDeca, Helvetica;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: rgb(0, 0, 75);
  color: lightslategray;
  padding-top: 5px;
  padding-bottom: 5px;
}

#blogNext a {
  font-family: lexendDeca, Helvetica;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: lightslategray;
  color: rgb(0, 0, 75);
  padding-top: 5px;
  padding-bottom: 5px;
}

/* FOOTER FORMATTING */
#footer {
  width: 98%;
  height: auto;
  margin: auto;
  padding: 1%;
  border: 0;
  background: rgb(0, 0, 75);
  clear:both;
}