/* GENERAL LINKS */
a {
  color: lightgray;
}

/* BODY AND FONT */
@font-face {
  font-family: lexendDeca;
  src: url(../Fonts/LexendDeca-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: lexendDeca;
  src: url(/Resources/Fonts/LexendDeca-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: lexendExa;
  src: url(../Fonts/LexendExa-Regular.ttf);
  font-style: normal;
}

body {
  background: #1b1b1b;
  color: #ffffff;
  font-family: lexendDeca, Helvetica;
}

@media (max-width: 1000px) {
  .container{
      padding: 0;
      overflow-x: hidden;
  }
}
